<button ng-click="home()">Home</button>
<form>
  <label>Username: <input type="text" ng-model="username" ng-required="required" /></label><br>
  <label>Password: <input type="text" ng-model="password" ng-required="required" /></label><br>
  <label>Zip Code: <input type="text" ng-model="zipCode" ng-required="required" /></label><br>
  <label>Phone Number: <input type="text" ng-model="phone" ng-required="required" /></label><br>
  <input ng-click="submit()" type="submit" id="submit" value="Submit" />
</form>