<button ng-click="home()">Home</button>
<form>
  <label>Username: <input type="text" ng-model="userInfo.username" ng-required="required" /></label><br>
  <label>Password: <input type="text" ng-model="userInfo.password" ng-required="required" /></label><br>
  <label>Zip Code: <input type="text" ng-model="userInfo.zipCode" ng-required="required" /></label><br>
  <label>Phone Number: <input type="text" ng-model="userInfo.phone" ng-required="required" /></label><br>
  <input ng-click="submit()" type="submit" id="submit" value="Submit" />
</form>